*{
  box-sizing: border-box;
}
html, body{
  font-family: Quicksand, sans-serif;
  font-weight: 400;
}

h1{
  font-weight: 300;
}

header nav ul li{
  list-style: none;
}

header, footer{
  background-color: #fff;
}
header, main{
  display: flex;
}
header{
  flex-direction: row;
}
main{
  flex-direction: column;
  background-color: #eee;
}
footer{
  text-align: center;
}
.container{
  max-width: 700px;
  margin: auto;
}
