*{
  box-sizing: border-box;
}
html, body{
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.2;
}

h1{
  font-weight: 300;
}

header nav ul li{
  list-style: none;
}

header, main{
  display: flex;
}
header{
  flex-direction: row;
  background-color: #fff;
}
main{
  flex-direction: column;
  background-color: #eee;
}
footer{
  text-align: center;
  background-color: #383838;
  padding: 2em;
  font-color: #f4f4f4;
}
.container{
  max-width: 700px;
  margin: auto;
}
